<!DOCTYPE html>
<html lang="en">
  <%- include("./components/head.ejs") %>
  <body>
    <%- include("./components/nav.ejs") %>
    <div class="content-about">
      <h2>About page</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, molestias
        facilis, temporibus quam nemo voluptas blanditiis tenetur sunt magni
        soluta beatae veniam porro accusamus voluptatem, quae repudiandae
        expedita ea dolore consequatur! Blanditiis, consequuntur minima. Animi
        itaque laudantium corrupti illo quo dicta, molestias vel quos eum
        maiores quisquam error! Doloremque, quo.
      </p>
    </div>
  </body>
</html>
