<!DOCTYPE html>
<html lang="en">
   <%- include("../partials/head.ejs") %>
   <body>
      <%- include("../partials/nav.ejs") %>
      <div class="container mt-3">
         <div class="row">
            <div class="col-12 mt-3">
               <form method="post">
                  <div class="row">
                     <label for="baslik" class="col-1 col-form-label">Başlık</label>
                     <input
                        type="hidden"
                        name="categoryid"
                        value="<%=category.dataValues.categoryid  %>" />
                     <div class="col-10 col">
                        <input
                           type="text"
                           name="name"
                           class="form-control"
                           id="baslik"
                           value="<%=category.dataValues.name  %>" />
                     </div>
                     <button type="submit" class="col-1 btn btn-primary">Ekle</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </body>
</html>
