<!DOCTYPE html>
<html lang="en">
  <%- include("./components/head.ejs") %>
  <body>
    <%- include("./components/nav.ejs") %>

    <div class="content-login">
      <form action="" method="post">
        <div>
          <label for="username">Username</label>
          <input id="username" name="username" type="text" />
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" name="password" type="password" />
        </div>
        <input type="submit" value="Sign up" />
      </form>
    </div>
  </body>
</html>
