<div class="list-group">
  <a href="" class="list-group-item list-group-item-ation">Tüm kategoriler</a>
  <% categories.forEach(category => { %>
  <a href="" class="list-group-item list-group-item-ation"><%= category %></a>
  <% }) %>
</div>
